/Project_3*/DTLearner_*
/Project_3*/RTLearner_*

/Project_7*/*.txt
/Project_7*/qlearning_robot
/Project_7*/Jupyter_Report
/Project_7*/*.ipynb


*/.ipynb_checkpoints
/*/__py*
/*/*.zip
/data/*.txt
/.pytest*
./Project_6_ManualStrategy/marketsim.py
